{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/reg.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <div class="card bg-light mb-3">
        <div class="card-header">Авторизация</div>
        <div class="card-body">
            <form action="{% url 'auth' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Логин</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Пароль</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Адрес электронной почты</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Повторите пароль</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    </div>
                </div>
                <div class="row">
                    <div class="flex-container">
                        <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
                        <a href="#">Забыли пароль?</a>
                    </div>
                </div>
        </div>
        </form>
        <div class="card_footer">
            <p>Есть аккаунт? <a href="{% url 'auth' %}">Войти</a></p>
        </div>
    </div>
</div>
{% endblock %}